* {
  box-sizing: border-box;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 5px 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 625px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  img.cards {
  border-radius: 8px 8px 0 0;
  width: auto;
  height: auto;
}
}

.card {
  box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1px 1px;
  background-color: white;
  color: black;
  border: 1px;
  border-style: solid;
  border-color: #dfe2e5;
  border-radius:10px;
}

.card:hover{
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.5s;


}

p.small, h3.small {
  line-height: 0.1;
}

p.small2 {
  letter-spacing: 3px;
  line-height: 0.2;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  }
